body, ul, li, h1, h2, a, p{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{   
    background-color: crimson;
    padding: 30px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
    left: 0px;
    text-align: center;
}
header h1{
    color: whitesmoke;
    padding: 8px 14px;
    display: inline-block;
    border-style: solid;
    border-width: 5px;
}
h2{
    color: crimson;
}

.banner{
    position: relative;
    left: 350px;
    top: 175px;
}
.banner img{
    max-width: 50%;
    
}
nav{
    background-color: whitesmoke;
    padding: 30px;
    position: fixed;
    top: 105px;
    text-align: center;
    z-index: 5;
    width: 100%;
}
nav ul{
    white-space: nowrap;
    max-width: 100%;
    margin: 0 auto;
}
nav li{
    width: 23%;
    display: inline-block;
    font-size: 24px;
    border: solid crimson;
} 
nav li a{
    text-decoration: none;
    color: crimson;
}
nav li a:hover{
    text-decoration: underline;
}
.info{
    color: crimson;
    padding: 100px 50px;

}
.info h3, h1{
    color: purple
}
.code li{
    display: inline-block;
    line-height: 5px;
}
@media screen and (max-width: 1000px){
    nav li{
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 25px;
        text-align: center;
    }
    nav{
        width: 100%;
    }
    .banner{        
        top: 350px;
    }
}

@media screen and (max-width: 500px){
    nav li{
        font-size: 20px;
        width: 100%;
        margin: 15px;
        text-align: center;
    }
    header{
        position: fixed;
        text-align: center;
    }
    nav{
        top: 100px;
    }
    .info{
        top:150px;
    }
   
}